@font-face {
    font-family: Gotham;
    src: url(fonts/Gotham.otf);
}
body{
    padding:0;
    margin:0;
}
.cover-photo{
    height:480px;
    background:url('/images/cover.png');
    width:100%;
}
.content{
    max-width:1524px;
    height: 1000px;
    margin:0 auto;
}
.profile-photo{
    margin-top: -158px;
    position: absolute;
    z-index: 1;
}
.stats-bar-delimiter{
    border-bottom: 1px solid #E6EBEF;
    height: 77px;
    width: 100%;
}
.stats-bar{
    height:76px;
    background-color: #fff;
}
.stats-bar-container{
    height:76px;
    text-align: center;
}
.stats-bar-container:first-child{
    border-bottom: 5px solid #0084B5;
}
.stats-bar-info{
    width:756px;
    margin: 0 auto;
    background-color: white;
}
.stats-bar-info{
    font-family: Gotham;
}
.stats-bar-info-title{
    color:#78858E;
    padding-top: 16px;
}
.stats-bar-info-content{
    font-size: 20px;
    color: #378CC7;
}
.stats-bar-container:first-child .stats-bar-info-content{
    color: #000;
}
.stats-bar-container-show{
    color:#378CC7;
    padding-top: 35px;
    font-size: 20px;
}
.stats-bar-container-show-arrow{
    color: #8899A7;
    font-size: 16px;
    vertical-align: -1px;
}
.stats-bar-right{
    margin-top: 16px;
}
.stats-bar-right button{
    background-color: #F5F8FB;
    width: 122px;
    height:45px;
    border:1px solid #E1E8EE;
}
.stats-bar-right button:hover,.stats-bar-right button:focus,.stats-bar-right button:active{
    background-color: #F5F8FB !important;
    border:1px solid #E1E8EE !important;
    opacity:0.8 !important;
    outline: none !important;
}
.follow-user-icon,.follow-user-sign{
    color: #51ABF2;
}
.follow-text{
    font-family: Gotham;
    font-size: 16px;
    color: #000;
    margin-left: -4px;
    vertical-align: 1px;
}
.follow-settings-icon{
    color:#C8D0D7;
    font-size: 20px;
    vertical-align: -5px;
    padding-right: 12px;
}
.tweet-list{
    margin-top:93px;
}
.tweet-container{
    font-family: Gotham;
    border: 1px solid #DCE5EB;
    border-radius: 5px;
    padding: 20px;
    margin-bottom:20px;
}
.tweet-container-header{
    margin-bottom: 20px;
}
.tweet-container-avatar,.tweet-container-name,.tweet-container-nickname,.tweet-container-date,.tweet-container-dot{
    display: inline-block;
    margin:0 10px 0 0;
}
.tweet-container-nickname,.tweet-container-date,.tweet-container-dot{
    color:#8E9EAA;
}
.tweet-container-date{
    margin-left:11px;
}
.tweet-container-dot{
    margin-right:0;
    margin-left:0;
    font-size: 4px;
    vertical-align: 4px;
}
.tweet-container-options{
    margin:-7px;
}
.remove-tweet,.comment-tweet{
    cursor: pointer;
    color:#378CC7;
    font-size:12px;
}
.remove-tweet:hover,.comment-tweet:hover{
    opacity: 0.8;
}
.content-left{
    margin-top:60px;
}
.profile-info-name{
    font-family: Gotham;
    font-size: 20px;
    font-weight: bold;
}
.profile-info-name-hashtag{
    color:#8E9EAA;
}
.profile-info-about{
    margin:10px 0;
}
.profile-info-address span,.profile-info-web span,.profile-info-joined span{
    margin:5px 6px 5px 0;
}
.add-tweet{
    background-color: #C7F2FB;
    height: 60px;
    border-radius: 5px;
    margin-top: 15px;
    padding:13px;
}
.tweet-modal{
    background: white;
    width: 239px;
    height: 35px;
    margin: 0 auto;
    border-radius: 5px;
    padding: 7px 7px 7px 10px;
    cursor: pointer;
    color: #07A2EF;
}
.tweet-container-list{
    margin-top:20px;
}
.tweet-container-comments{
    display: none;
    margin-top:25px;
}
.submit-comment,.submit-comment-on-self-page{
    margin-top:10px;
}
.comment-container{
    border: 1px solid #E6EBEF;
    padding: 14px;
    border-left: 5px solid #1b809e;
    border-radius: 3px;
    margin-bottom:10px;
}
.right-block{
    border: 1px solid #DCE5EB;
    border-radius: 5px;
    margin-top:15px;
    padding: 20px;
    height:400px;
}
.right-block-title-container{
    color:#78858E;
    font-family: Gotham;
}
.right-block-title{
    font-size: 24px;
}
.right-block-user{
    margin-top:12px;
}
.right-block-user-name{
    color: #000;
    vertical-align: 15px;
    margin-left: 6px;
    font-size: 16px;
}
.right-block-user-name-hashtag{
    vertical-align: 15px;
    font-size: 14px;
}
.right-block-user-remove{
    color:#CBE0EF;
    vertical-align: 15px;
    font-size: 12px;
}
.folowed-by{
    margin-top: -12px;
    margin-left: 6px
}
.right-block-follow-button{
    background-color: #F5F8FB;
    width: 100px;
    border-radius: 4px;
    height: 35px;
    border: 1px solid #E1E8EE;
    padding: 8px;
    cursor: pointer;
    margin-top: 4px;
    margin-left: 10px;
}
.right-block-follow-button-blue{
    color:#51ABF2;
}
.right-block-item{
    float: left;
    margin-top:30px;
}
.right-block-item:first-child{
    margin-top:0;
}
.right-block-item:nth-child(2) .right-block-follow-button,.right-block-item:nth-child(3) .right-block-follow-button{
    margin-left: 10px;
    margin-top: -10px;
}